:root {
  --primary-color: #423E3E;
  --primary-color-dark: #173421;
  --primary-color-light: #FFF6ED;
  --secondary-color: #173421;
  --secondary-color-light: #C1AE91;
  --orange-color: #DC7644;
  --text-light: white;
  --text-dark: black;
}